header {
	margin-bottom: 3rem;
}

p {
	line-height: 1.6;
}

.see-all	{
	font-size: 0.8em;
	text-transform: uppercase;
}

.shows h1{
	font-size:2.5rem;
	font-weight: lighter;

}

.shows h2{
	font-size: 1rem;
	text-transform: uppercase;
}

.cast img{
	width: 100%;
}

.cast li{
	width: 25%;
}

.shows > li{
	border-top: 1px solid black;

}


.cast div {
	font-size: 0.8rem;
}

.cast div {
	font-weight: bold;
}

.cast div + div {
	font-weight: normal;
	font-style: italic;
}

.selected {
	font-weight: bold;
	color: #black;
}

#game-of-thrones .seasons li:last-child:after {
	content: "*";
}

#game-of-thrones section.seasons:after {
	content: "* In production";
	font-size: 0.7rem;
	color: #999;
}