body {
	margin-left: 200px;
}

div.normal {  
      text-indent: 20px;
      font-family: 'Crimson text', serif;
      font-size: 30px;
      padding-top: 10px;
       
    }

 h1 {
 	color:red;
 	font-family: 'Crimson text', serif;
 	font-size: 40px;
 }

h2 {
	font-family: 'Helvetica', sans-serif;
	font-size: 15px;
	font-weight: lighter;
 }
h3 {
	font-family: 'Helvetica', sans-serif;
	font-size: 30px;
	color: grey;

}


div.description {
	font-family: 'helvetica', sans-serif;
	font-size: 15px;
	color: grey;
	text-transform: uppercase;
	padding-top: 10px;

}

.bold {
	font-family: 'Crimson text', serif;
	font-weight: bold;
	font-size: 30px;
	text-indent: 20px;
	padding-top: 10px;
}

h4 {
	font-family: 'Helvetica', sans-serif;
	font-size: 30px;
	color: grey;
}


div.italic{
	font-family: 'Crimson text', serif;
	font-style: italic;
	font-size: 30px;
	text-indent: 20px;
	padding-top: 10px;
}

.loose{
	font-family: 'Crimson text', serif;
	letter-spacing: 5px;
	font-size: 30px;
	text-indent: 20px;
	padding-top: 10px;
}

.tight{
	font-family: 'Crimson text', serif;
	letter-spacing: -2px;
	font-size: 30px;
	text-indent: 20px;
	padding-top: 10px;
}

.uppercase{
	font-family: 'Crimson text', serif;
	text-transform: uppercase;
	font-size: 30px;
	text-indent: 20px;
	padding-top: 10px;
}

.lowercase{
	font-family: 'Crimson text', serif;
	text-transform: lowercase;
	font-size: 30px;
	text-indent: 20px;
	padding-top: 10px;
}

.capitalized{
	font-family: 'Crimson text', serif;
	text-transform: capitalize;
	font-size: 30px;
	text-indent: 20px;
	padding-top: 10px;
}

.underline{
	font-family: 'Crimson text', serif;
	text-decoration: underline;
	font-size: 30px;
	text-indent: 20px;
	padding-top: 10px;
}

.strikethrough{
	font-family: 'Crimson text', serif;
	text-decoration: line-through;
	font-size: 30px;
	text-indent: 20px;
	padding-top: 10px;
}

.overline{
	font-family: 'Crimson text', serif;
	text-decoration: overline;
	font-size: 30px;
	text-indent: 20px;
	padding-top: 10px;
}

hr {
	width: 1000px;
	margin-right: 500px;
}
